*.mexw64
/example/bouncing_ball/slprj
/example/multi_room_heating/ESTHeatingSystem_grt_rtw
/example/multi_room_heating/slprj
/example/multi_room_heating/bouncing_ball_sfun.mexw64
/example/multi_room_heating/con_ESTHeatingSystem_sfun.mexw64
/example/multi_room_heating/ESTHeatingSystem_sfun.mexw64
/example/multi_room_heating/trainingdata/HeatingSystem_sfun.mexw64
/example/multi_room_heating/trainingdata/slprj
/example/bouncing_ball/trainingdata/bouncing_ball_sfun.mexw64
/example/bouncing_ball/trainingdata/slprj
/example/bouncing_ball/trainingdata2/slprj
/example/bouncing_ball/trainingdata2/bouncing_ball_sfun.mexw64
/example/navigation/slprj
/example/navigation/con_ESTNavigation_sfun.mexw64
/example/navigation/ESTNavigation_sfun.mexw64
/example/navigation/trainingdata1.1/Navigation_sfun.mexw64
/example/navigation/trainingdata1.1/slprj
/example/navigation/trainingdata1.1/ESTNavigation_sfun.mexw64
/example/navigation/trainingdata3/slprj
*.asv
/src/slprj
/src/automata_learning.cfg
/src/automata_learning.xml
